.hidden {
  display: none;
}

body {
  background-image: url("../img/lib1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.library {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(2vw, 1fr));
}

.book {
  border : 1px solid black;
  border-radius : 4px;
  display : flex;
  flex-direction : column;
  width : 8vw;
  height: 8vw;
  overflow: auto;
}